@import "tailwindcss";

@theme {
  /* Colores */
  --color-primario-cerebro: #4b673e;
  --color-secundario-corazon: #d3975c;
  --color-sombra-corazon: #a6784a;
  --color-anillo-oscuro: #638343;
  --color-anillo-claro: #d0c690;
  --color-texto-principal: #2d4825;
  --color-texto-secundario: #936b3b;
  --color-fondo: #f5f1e9;

  /* Tamaños y Pesos */
  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.5rem;
  --font-size-header: 1.25rem;
  --font-size-body: 1.125rem;

  --font-weight-title: 700;
  --font-weight-subtitle: 600;
  --font-weight-header: 500;
}

@layer base {
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
    font-size: var(--font-size-body);
    line-height: 1.6;
  }

  h1,
  .text-title {
    color: var(--color-texto-principal);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    line-height: 1.2;
  }

  h2,
  .text-subtitle {
    color: var(--color-texto-secundario);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    line-height: 1.3;
  }

  header,
  .header-style {
    color: var(--color-primario-cerebro);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-header);
    padding: 1rem 0;
  }
}
